body {
  margin: auto;
}

#board {
  border: 1px solid black;
  width: 550px;
  height: 550px;
  margin: auto;
}

td {
  background-color: red;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.validSpace {
  background-color: black;
}

.player2 {
  background-image: url('../media/red.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.player1 {
background-image: url('../media/blue.png');
background-size: 100%;
background-repeat: no-repeat;
}

.selected {
  border: 3px solid yellow;
}
